.jumbotron {
  padding: 2rem 1rem;
  background-color: #15133c;
  color: white;
  font-family: "Fredoka", sans-serif;
  padding: 0;
  padding-top: 5rem;
}


.layout {
  font-family: "Fredoka", sans-serif;
  padding: 0;
  padding: 1rem 1rem;
  padding-top: 2rem;
  background-color: #C4DDFF;
  padding: 0;
}

.galery {
  background-color: #15133c;
  color: white;
 
}

.galery .container {
    padding-bottom: 30px;
}

.galery .col p {
  margin-top: 40px;
}

/* ukuran smartphone */
@media screen and (max-width: 576px) {
  .galery {
    font-size: 10px;
  }

  .galery .col img {
      margin-top: 40px;

  }

  .layout {
      font-size: 12px;
  }
  .jumbotron img {
      width: 35%;
  }

  .jumbotron {
      font-size: 60%;
  }
  .galery .col p {
    margin-top: 10px;
  }

  .col-md-4 {
      padding-bottom: 10px;
  }
}

section {
    padding-top: 5rem;
}